#pw {
    padding: 200px;
    font-size: 30px;
    left: 50%;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: lightgrey;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#pw:hover {
    background-color:lightpink;
    transition: 1s;
}

#pw:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
